<p id="top">Useful Resources</p>

<ul>
  Finance Literacy Sites
  <li><a href="https://www.investopedia.com/">Investopedia</a></li>
  <li><a href="https://www.nerdwallet.com/">NerdWallet</a></li>
  <li><a href="https://www.nasdaq.com/">Nasdaq</a></li>
  <li><a href="https://finance.yahoo.com/">Yahoo Finance</a></li>
</ul>

<ul>
  Biotech Related
  <li>
    <a
      href="https://www.biopharmcatalyst.com/biotech-stocks/company-pipeline-database"
      >Companies/Pipelines</a
    >
  </li>
  <li>
    <a href="https://www.biopharmcatalyst.com/calendars/fda-calendar"
      >Fda Calendar</a
    >
  </li>
  <li>
    <a href="https://www.biopharmcatalyst.com/calendars/pdufa-calendar"
      >PDUFA Calendar</a
    >
  </li>
  <li>
    <a href="https://www.focr.org/breakthrough-therapies"
      >Cancer Research Breakthroughs</a
    >
  </li>
</ul>

<ul>
  Other
  <li><a href="https://www.dividend.com/">Dividend.com</a></li>
  <li><a href="https://www.suredividend.com/">SureDividend.com</a></li>
  <li><a href="https://fintel.io/">Fintel - Institutional Ownership</a></li>
  <li><a href="https://etfdb.com/">ETFs</a></li>
  <li><a href="https://sharespost.com/">Private Equity</a></li>
</ul>
