<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="sectors" class="nav-link">Sectors</a>
      </li>
      <li class="nav-item">
        <a routerLink="search" class="nav-link">Explore</a>
      </li>
      <li class="nav-item">
        <a routerLink="watchlists" class="nav-link">Watchlists</a>
      </li>
      <li class="nav-item">
        <a routerLink="resources" class="nav-link">Resources</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
